.off {
	display: none;
}

body {
	margin:0;
	padding:0;
	text-align: center;
	font-family: Source Sans Pro, sans serif;
	color:white;
	background:#000;
	font-family: 'Didact Gothic', sans-serif;
}

#wrapper {
	margin:auto;
	min-height:768px;
	background: url('../images/bg-curtain.jpg') no-repeat center;
	background-size: 100% 100%;
	/*border: solid 1px white;*/
}

div#setup {
	position:relative;
	padding-top: 20px;
}

#setup p {
	margin:0;
	margin-top: 5px;
}

p.tweet {
	display:inline-block;
	background-color: gray;
	margin-top:10px;
	font-size: 1.25em;
}

#tweet {
	width: 800px;
	margin: 10px auto;
	font-size: 20px;
}

#tweet .tweet-user {
	margin-right: 10px;
	font-weight: bold;
	color: #ccc;
	font-size: 20px;
}

#twitter-word {
	width: 224px;
	margin-left: 5px;
	font-size: 24px;
	border: 2px solid #fff;
	background: #8abce5;
	color: #0061b3;
	margin-right: 10px;
	border-radius: 10px;
	padding: 4px 10px;
}

#form {
	width: 800px;
	margin: -10px auto 0;
	padding:5px;
}

.form-guts p {
	margin-bottom:10px!important;
}

#submit-tweet {
	background: #fff;
	padding: 5px 15px;
	border: 2px solid #8abce5;
	color: #0061b3;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
}

.gamename {
	font-size:140px;
}

.tm {
	font-size: 50%;
	color: #CC9;
	vertical-align: super;
}

h1 {
	margin:0;
	margin-bottom: 10px;
	padding:0;
	font-family: 'Flavors', "Verdana", sans-serif;
	
}

div#form {
	margin-top:20px;
	background:#333;
	border:5px solid #ccc;
	border-radius:10px;
}

div#images {
	display:inline-block;
	padding: 0;
	/*border: solid 1px white;*/
}

div.contestant {
	position: relative;
	display: inline-block;
	padding:10px;
}

div.contestant p{
	position: relative;
	top: -22px;
	margin:auto;
	/*background-color: red;*/
}

#images img {
	vertical-align: middle;
	max-width:300px;
	max-height:300px;
	/*margin: 10px;*/
}

img.nameplate {
	width: 100px;
}

#reset-game {
	position:absolute;
	right:100px;
	top:20px;
	background: #fff;
	padding: 5px 15px;
	border: 2px solid #8abce5;
	color: #0061b3;
	font-size: 24px;
	border-radius: 10px;
	cursor: pointer;
	z-index:100;
}

.off {
	display:none;
}